// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~simple-vue-timeline/dist/simple-vue-timeline';
@import '~bootstrap/scss/bootstrap';
