*{
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: 'MarkProBlack_1';
    src: url(/fonts/MarkProBlack_1.eot?06f87ba621022a8fed6faf7874f6edbb);
    src: url(/fonts/MarkProBlack_1.eot?06f87ba621022a8fed6faf7874f6edbb) format('embedded-opentype'),
         url(/fonts/MarkProBlack_1.woff2?d68315d138ec49220d673c6880a9f147) format('woff2'),
         url(/fonts/MarkProBlack_1.woff?df1afa639df6fbe7cd2d63b94db8069a) format('woff'),
         url(/fonts/MarkProBlack_1.ttf?d4f832463e7682f5614deb35957d24e8) format('truetype'),
         url(/fonts/MarkProBlack_1.svg?700037d5eade9129db555f348347f141#MarkProBlack_1) format('svg');
         font-weight: normal;
         font-style: normal;
}

@font-face {
    font-family: 'MarkProBlackItalic';
    src: url(/fonts/MarkProBlackItalic.eot?6269314aaf04710e3c140fa38dfa6dbb);
    src: url(/fonts/MarkProBlackItalic.eot?6269314aaf04710e3c140fa38dfa6dbb) format('embedded-opentype'),
         url(/fonts/MarkProBlackItalic.woff2?4c96b9e6afa5ad7b3e9fcbfa10c82c8e) format('woff2'),
         url(/fonts/MarkProBlackItalic.woff?1fa67801dd0d3fdc70031b9b8076c0f9) format('woff'),
         url(/fonts/MarkProBlackItalic.ttf?5c29046d3cbed38cf48135d2d366ceda) format('truetype'),
         url(/fonts/MarkProBlackItalic.svg?b9d3dc9c1e69efeea29ba5b5d8cd95bd#MarkProBlackItalic) format('svg');
         font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MarkProBook';
    src: url(/fonts/MarkProBook.eot?e09663a7aee2c21bdd6d7cf614b7b3dd);
    src: url(/fonts/MarkProBook.eot?e09663a7aee2c21bdd6d7cf614b7b3dd) format('embedded-opentype'),
         url(/fonts/MarkProBook.woff2?11351d220dca010216457f18aadaadfe) format('woff2'),
         url(/fonts/MarkProBook.woff?d9615e90e3fee41e0d91d49a896ca0dd) format('woff'),
         url(/fonts/MarkProBook.ttf?20a2b42b2a58358468ddfdf7cffe8379) format('truetype'),
         url(/fonts/MarkProBook.svg?219128b371adf639d244ecb296c721fd#MarkProBook) format('svg');
         font-weight: normal;
    font-style: normal;
}



.bb-mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bb-w-full{
    width: 100%;
}


.bb-w-85{
    width: 85%;
}

.bb-mb-30{
    margin-bottom: 30px;
}



.bb-px-15{
    padding:0 15px;
}
.bb-mt-15{
    margin-top: 15px;
}
.bb-mb-15{
    margin-bottom: 15px;
}
.bb-line-h-1{
    line-height: 1;
}
.bb-w-50{
    width: 50%;
}

.bb-border{
    border: 2px solid #293172;
}

.bb-radius{
    border-radius: 20px;
}

.bb-radius-l-{
    border-radius: 20px 20px 0 0;
}
.bb-radius-b-x{
    border-radius: 0 0 20px 20px;
}

.bb-radius-t-x{
    border-radius: 20px 20px 0 0;
}

.bb-radius-l-y{
    border-radius: 20px 0 0 20px ;
}
.bb-radius-r-y{
    border-radius: 0 20px 20px 0px;
}

.bb-border-15{
    border-radius: 15px 0 0 15px;
}
.bb-py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.bb-px-5{
    padding-left: 5px;
    padding-right: 5px;
}

.bb-py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.bb-pl-none{
    padding-left: 0;
}
.bb-pr-none{
    padding-right: 0;
}

.bb-font-book{
    font-family: "MarkProBook" ;
}


.bb-font-blackitalic{
    font-family: "MarkProBlackItalic";
}

.bb-font-black{
    font-family: "MarkProBlack_1";
}

.bb-text-17{
    font-size: 17px;
}

.bb-text-12{
    font-size: 12px;
}
.bb-text-blue{
    color: #293172;
}

.bb-text-white{
    color: white;
}


.bb-bg-blue{
    background-color: #293172;
}

.bb-text-center{
    text-align: center;
}

.bb-text-25{
    font-size: 25px;
}

.bb-text-20{
    font-size: 20px;
}

.bb-relative{
    position: relative;
}

.bb-absolute{
    position: absolute;
}

.bb-position-custom{
    top: auto;
    left: auto;
    right: 55px;
    bottom: 5px;
}

.bb-text-35{
    font-size: 35px;
}

.bb-ml-30{
    margin-left: 30px;
}

.bb-ml-15{
    margin-left: 15px;
}

.bb-text-uppercase{
    text-transform: uppercase;
}

.bb-lh-0{
    line-height: 0;
}

.bb-pd-20{
    padding: 20px;
}

.bb-float-l{
    display: inline;
    float: left;
}

.bb-bg-yellow{
    background-color: #FFC000;
}
.bb-border-yellow{
    border:2px solid #FFC000;
}

.bb-pa-11{
    padding: 11px;
}

.bb-py-22{
    padding: 22px;
}

.bb-bottom-0{
    bottom: 0;
}

