*{
    padding: 0;
    margin: 0;
    line-height: 1;
}

@font-face {
    font-family: "MavenProMedium";
    src: url('../fonts/MavenProMedium.eot');
    src: url('../fonts/MavenProMedium.eot') format('embedded-opentype'),
      url('../fonts/MavenProMedium.woff2') format('woff2'),
      url('../fonts/MavenProMedium.woff') format('woff'),
      url('../fonts/MavenProMedium.ttf') format('truetype'),
      url('../fonts/MavenProMedium.svg#MavenProMedium') format('svg');
      font-weight: normal;
         font-style: normal;
  }
  @font-face {
    font-family: "MavenProSemiBold";
    src: url('../fonts/MavenProSemiBold.eot');
    src: url('../fonts/MavenProSemiBold.eot') format('embedded-opentype'),
      url('../fonts/MavenProSemiBold.woff2') format('woff2'),
      url('../fonts/MavenProSemiBold.woff') format('woff'),
      url('../fonts/MavenProSemiBold.ttf') format('truetype'),
      url('../fonts/MavenProSemiBold.svg#MavenProSemiBold') format('svg');
      font-weight: normal;
         font-style: normal;
  }
  @font-face {
    font-family: "MavenProBold";
    src: url('../fonts/MavenProBold.eot');
    src: url('../fonts/MavenProBold.eot') format('embedded-opentype'),
      url('../fonts/MavenProBold.woff2') format('woff2'),
      url('../fonts/MavenProBold.woff') format('woff'),
      url('../fonts/MavenProBold.ttf') format('truetype'),
      url('../fonts/MavenProBold.svg#MavenProBold') format('svg');
      font-weight: normal;
        font-style: normal;
  }

.bb-max-width{
    max-width: 90%;
}

.bb-mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.bb-bg-blue{
    background-color: #2D257D;
}

/*------------start-header-----------*/
.bb-header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 5px 5%;
    box-shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
}

.bb-header-mil{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 5px 5%;
}

.bb-content-header{
    display: flex;
    align-items: flex-end;
    text-size-adjust: 50px;
}

.bb-triangulo{
    width: 10px;

}
.bb-header .bb-logo .bb-img{
    height: 45px;
    width: auto;
}
.bb-header .bb-logo img{
    height: 35px;
    width: auto;
}


/*------------end-header-----------*/
/*----------start-content-header---------*/
.bb-mr-9{
    margin-right: 9px;
}

.bb-ml-9{
    margin-left: 9px;
}


.bb-mb-20{
    margin-bottom: 20px;
}.bb-mb-30{
    margin-bottom: 30px;
}
.bb-mb-20{
    margin-bottom: 20px;
}
.bb-mb-15{
    margin-bottom: 15px;
}

.bb-mr-10{
    margin-right: 10px;
}
.bb-mb-10{
    margin-bottom: 10px;
}
.bb-mb-6{
    margin-bottom: 6px;
}
.bb-mb-5{
    margin-bottom: 5px;
}


.bb-mt-30{
    margin-top: 30px;
}

.bb-mb-3{
    margin-bottom: 3px;
}

/*----------end-content-header---------*/
/*-----------inicio-fuente---------*/
.bb-font-size-primary{
    font-size: 16px;
}

.bb-font-bold{
    font-family: "MavenProBold" ;
}


.bb-font-semibold{
    font-family: "MavenProSemiBold";
}

.bb-font-medium{
    font-family: "MavenProMedium";
}

.bb-text-17{
    font-size: 17px;
}
/*-----------fin-fuente---------*/

.bb-text-black{
    color: #414042;
}

.bb-text-blue{
    color: #2D257D
}

.bb-text-white{
    color: white;
}

.bb-bg-gray{
    background-color: #E8E9EA;
    border: none;
}

.bb-bg-red{
    background-color: #ED1B2F;
}

.bb-text-gray{
    color: #878787;
}

.bb-text-gray2{
    color: #707070;
}

.bb-border-red{
    border: 2px solid #ED1B2F;
}

.bb-border-blue{
    border: 2px solid #2D257D;
}

.bb-form-text{
    padding: 12px;
    padding-left: 15px;
}

.bb-pd-text{
    padding: 12px;
}

.bb-width-100{
    width: 100%;
    /* border: none; */
}

.bb-width-25{
    width: 25%;
}

.bb-width-50{
    width: 50%;
}
.bb-width-75{
    width: 75%;
}
.bb-width-20{
    width: 20%;
}

.bb-width-17{
    width: 17.5%;
}

.bb-width-40{
    width:40%;
}
.bb-width-30{
    width: 30%;
}

.bb-width-15{
    width: 15%;
}

.bb-width-18{
    width: 18.33%;
}
.bb-width-36{
    width: 36.67%;
}

.bb-width-80{
    width: 80px;
}

.bb-width-250{
    width: 250px;
}

.bb-cot{
    padding: 11px;
}

.bb-flex{
    display: flex;
}
.bb-op-1{
    width: 55px;
}

.bb-op-2{
    width: 50px;
    height: 40px;
}

.bb-op-3{
    width: 10%;
}

.bb-op-4{
    width: 90%;
}

.bb-text-title{
    font-size: 12px;
}

.bb-text-label{
    font-size: 11px;
}
.bb-text-data{
    font-size: 11px;
}

.bb-text-11{
    font-size: 11px;
}

.bb-text-10{
    font-size: 10px;
}

.bb-border-red{
    border: 2px solid #ED1B2F;
}

.bb-border-me{
    border: 1px solid #878787 ;
}

.bb-py-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.bb-px-5{
    padding-left: 5px;
    padding-right: 5px;
}
.bb-pl-none{
    padding-left: 0;
}
.bb-pr-none{
    padding-right: 0;
}

.bb-ml-3{
    margin-left: 3px;
}

.bb-text-center{
    text-align: center;
}

.bb-border-bt{
    border-bottom: 2px solid #ED1B2F;
    padding-bottom: 5px
}

.bb-bb-blue{
    border-bottom: 2px solid #2D257D;
    padding-bottom: 5px
}
.bb-mb-5{
    margin-bottom: 5px;
}
.bb-mb-3{
    margin-bottom: 3px;
}
.bb-mr-5{
    margin-right: 5px;
}

.bb-border-btn{
    border-bottom: 1px solid;
}

.bb-title{
    width: 50%;
    text-align: center;
}

.bb-title2{
    text-align: center;
}

.bb-mt-5{
    margin-top: 5px;
}

.bb-pb-6{
    padding-bottom: 6px;
}

.bb-pb-5{
    padding: 12px 12px 5px 15px;
}

.bb-pd-10{
    padding: 10px;
}

.bb-pl-3{
    padding-left: 3px
}

.bb-pl-15{
    padding-left: 15px;
}

.bb-pd-text{
    padding: 12px;
}

.bb-mt-15{
    margin-top: 15px;
}

.bb-mt-10{
    margin-top: 10px;
}

.bb-mb-60{
    margin-bottom: 60px;
}

.bb-p-10{
    padding: 10px;
}
.bb-px-10{
    padding-left: 10px;
    padding-right: 10px;
}
.bb-p-7{
    padding: 7px;
}
.bb-p-5{
    padding: 5px;
}
.bb-outline{
    outline: 1px solid #ED1B2F;
}
.bb-outline-blue{
    outline: 1px solid #2D257D;
}

.w-full{
    width: 100%;
}

.w-200{
    width: 200px;
}

.absolute{
    position: absolute;
}

.bottom-0{
    bottom: 0;
}

.border-top{
    border-top: 2px solid black;
}

.border-left{
    border-left: 1px solid #ED1B2F;
}

.max-w-25{
    max-width: 25px;
}

.td{
    background-color: #E8E9EA;
    border-right: 2px solid #ED1B2F;
    width: 30px;
    max-width: 30px;
    padding: 3px;
    text-align: left;
    vertical-align: center;
    font-size: 11px;
    font-family: "MavenProMedium";
}

.td:last-child{
    border-right: none;
}

.spacing{
    border-bottom: 19px solid transparent;
    border-right: none !important;
}
